<p id="notice"><%= notice %></p>

<h1>Related Words</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @related_words.each do |related_word| %>
      <tr>
        <td><%= related_word.name %></td>
        <td><%= link_to 'Show', related_word %></td>
        <td><%= link_to 'Edit', edit_related_word_path(related_word) %></td>
        <td><%= link_to 'Destroy', related_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Related Word', new_related_word_path %> |
<%= link_to '单词', vocabularies_path %>
