<p id="notice"><%= notice %></p>

<h1>词汇表</h1>

<%= link_to 'New Vocabulary', new_vocabulary_path %> |
<%= link_to '关联词', related_words_path %> |
<%= link_to 'review', '/review' %>

<table>
  <thead>
    <tr>
      <th>单词</th>
      <th>音标</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabularies.each do |vocabulary| %>
      <tr>
        <td><%= vocabulary.content %></td>
        <td><%= vocabulary.soundmark %></td>
        <td><%= link_to 'Show', vocabulary %></td>
        <td><%= link_to 'Edit', edit_vocabulary_path(vocabulary) %></td>
        <td><%= link_to 'Destroy', vocabulary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
