<p id="notice"><%= notice %></p>

<h1><%= @vocabulary.content %></h1>

<p style="color:#9b8d72;font-size: 14px;line-height: 24px;">
  <%= @vocabulary.soundmark %>
</p>

<div style="height: 10px;"></div>

<% @vocabulary.meanings.each do |meaning| %>
<p style="margin-bottom: 20px;">
  <a style='border-radius: 50%;text-align: center;line-height: 20px;background: #c1943b;width: 14px;height: 14px;display: inline-block;'></a>
  <span style='line-height: 24px;font-size: 14px;color: #32220e;font-weight: 700;'>
    <%= meaning.en_meaning %><br>
  </span>
  <span style='color:#958d79;font-size: 16px;font-family: arial,sans-serif,"microsoft yahei",simhei;'>
    <%= meaning.kind %>
  </span>
  <span style='line-height: 24px;font-size: 14px;color: #32220e;'>
    <%= meaning.zh_meaning %>
  </span>
  <%= link_to 'New Example', new_example_path(meaning_id:meaning.id), name:'new_example_link', style:'display: none' %>

  <% meaning.examples.each do |example| %>
  <p>
    <span>
      <%= example.original %>
    </span><br>
    <span>
      <%= example.zh_meaning %>
    </span>
  </p>
  <% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_vocabulary_path(@vocabulary) %> |
<%= link_to 'Back', vocabularies_path %> |
<%= link_to 'New Meaning', new_meaning_path(vocabulary_id:@vocabulary.id) %>
<button onclick="show_links()">显示链接</button>
<button onclick="hidden_links()">隐藏链接</button>

<br>
<br>

<% if @vocabulary.kind == 'word' %>
<h3>短句：</h3>
  <%= link_to '关联短句', start_link_phrase_vocabulary_path %>
<ul>
  <% @vocabulary.phrases.each do |phrase| %>
    <li><%= link_to phrase.word_group.content,phrase.word_group %></li>
  <% end %>
</ul>
<% end %>

<% if @vocabulary.kind == 'phrase' %>
<h3>单词：</h3>
<ul>
  <% @vocabulary.words.each do |phrase| %>
    <li><%= link_to phrase.word.content,phrase.word %></li>
  <% end %>
</ul>
<% end %>

<br>
<br>

<h3>相关词：</h3>
<% if @vocabulary.related_words.empty? %>
  <%= link_to '增加相关词', new_related_word_path %>
<% end %>
<ul>
  <% @vocabulary.related_words.each do |related_word| %>
    <% related_word.vocabularies.each do |vocabulary| %>
      <% unless vocabulary.id == @vocabulary.id %>
        <li><%= link_to vocabulary.content,vocabulary %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<script>
  function hidden_links(){
      console.info("1")
      $("a[name=new_example_link]").hide()
  }
  function show_links() {
      $("a[name=new_example_link]").show()
  }
</script>